nbproject*
tmp/*
.DS_Store
doc/api
doc/app
config/database.yml
config/deploy/config.rb
features_rcov
features.txt
coverage*
public/assets
public/stylesheets/compiled*
public/test*
rerun.txt
data/asset*
locale/**/LC_MESSAGES
.rvmrc
capybara-*
log/*
